body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
  color: white;
  font-size: 20px;
  padding-top: 5%;
  text-align: center;
  word-wrap: break-word;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo{
  width: 500px;
}

.Transaction{
  padding: 5%;
}

.ConductTransaction {
  margin: 10%;
}

.Block{
  border: 1px solid white;
  padding: 5%;
  margin: 2%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
